<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

	<bean id="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean" destroy-method="destroy">

		<property name="configLocation" value="classpath:quartz.properties" />
		<property name="dataSource" ref="dataSource" />
		<property name="transactionManager" ref="transactionManager" />

		<property name="schedulerName" value="CODI_QUARTZ_SCHEDULER" />
		<property name="overwriteExistingJobs" value="true" />

		<property name="autoStartup" value="true" />
		<property name="applicationContextSchedulerContextKey" value="applicationContext" />
		
		<property name="waitForJobsToCompleteOnShutdown" value="false"/>
		<property name="triggers">
			<list>
				<!-- 仅用于线下测试 -->
				<!-- <ref bean="simpleJobTrigger" /> -->
				<ref bean="SH300LatestTrigger" />
				<ref bean="updateFundInfoTrigger" />
				<ref bean="fundTypeTrigger" />
				<ref bean="fundSortTrigger" />
				<ref bean="fundRatingTrigger" />
				<ref bean="secuMainTrigger" />
				<ref bean="fundCodeRelationshipTrigger" />
			</list>
		</property>

		<property name="jobDetails">
			<list>
				<!-- 只定义不触发，需人工触发 -->
				<ref bean="SH300AllJob" />
			</list>
		</property>

		<property name="globalJobListeners">
			<list>
				<ref bean="GlobalJobListener" />
			</list>
		</property>

		<property name="globalTriggerListeners">
			<list>
				<ref bean="GlobalTriggerListener" />
			</list>
		</property>
	</bean>

	<bean id="GlobalJobListener" class="com.codi.jobservice.job.listener.GlobalJobListener" />
	<bean id="GlobalTriggerListener" class="com.codi.jobservice.job.listener.GlobalTriggerListener" />

	<!-- 导入所有JOB -->
	<import resource="classpath:spring/jobs/*.xml" />

</beans>